.btn {
    position: relative;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: $cAccent;
    font-family: $font-main;
    padding: 1rem;
    color: white;
    vertical-align: middle;
    line-height: 1;
    font-weight: 500;

    &--icon {
        padding-left: 3.5rem;
        svg {
            position: absolute;
            fill: white;
            top: 1rem;
            left: 1rem;
        }
    }

    svg {
        fill: currentColor;
        height: 1.7rem;
        width: 1.7rem;
        margin-right: .5rem;
    }

    &:hover {
        background: lighten($cAccent, 20%);
    }
}

.btn--simple {
  position: relative;
  display: inline-block;
  appearance: none;
  padding-left: 0;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;

  @extend %smallprint;
}
