$maxWidth: 1100px;

$font-head: 'Roboto', sans-serif;
$font-main: 'Roboto', Helvetica, Arial, sans-serif;

$cText: #333;
$cAccent: red;

$cLink: $cAccent;
$cBorder: #c8c8c8;

// breakpoints:
$xs: 48rem;
$sm: 76.8rem;
$md: 99.6rem;
$lg: 144rem;

// MIXINS

// headlines
%h18 {
  font-size: 1.8rem;
}
